.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.homecakes{
  border: solid 1px rgb(210, 215, 229);
  border-radius: 50%;
  width: max-content;
  padding: 7px;
  box-shadow: 1px 1px 3px;
}
.icon{
  color: white;
  border: none;
}
.button{
  border: none;
  background: none;
 
}
